# =========================
# ROS2 build artifacts
# =========================
build/
install/
log/

# =========================
# Python
# =========================
__pycache__/
*.pyc

# =========================
# OS / Editor
# =========================
.DS_Store
.vscode/
.idea/

# =========================
# Temporary files
# =========================
*.swp
